{% if status == "active" %}
  <span class="badge badge-pill badge-green">Active</span>
{% elif status == "inactive" %}
  <span class="badge badge-pill badge-grey">Inactive</span>
{% elif status == "curtailed" %}
  <span class="badge badge-pill badge-gold">Curtailed</span> {% include "partials/_demo_marker.html" %}
{% elif status == "revoked" %}
  <span class="badge badge-pill badge-red">Revoked</span> {% include "partials/_demo_marker.html" %}
{% else %}
  <span class="badge badge-pill badge-grey">{{ status|capfirst }}</span>
{% endif %}
